image: node:alpine

definitions:
  caches:
    npm: ~/.npm

pipelines:
  branches:
    main:
      - step:
          name: Build app for all platforms
          deployment: test
          caches:
            - npm
          script:
            - apk add --no-cache bash
            - npm ci
            - npx eas-cli build --platform all --non-interactive --profile development --no-wait

    feature/*:
      - step:
          name: EAS Update (OTA)
          caches:
            - npm
          script:
            - apk add --no-cache bash
            - npm ci
            - npx eas-cli update --non-interactive --branch $BITBUCKET_BRANCH
    
    release/*:
      - step:
          name: EAS Build (Production)
          deployment: production
          caches:
            - npm
          script:
            - apk add --no-cache bash
            - npm ci
            - npx eas-cli build --platform all --profile production --non-interactive --no-wait